@import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap);

*{
	margin: 0;
	padding: 0;
}

header{
	width: 200px;
	height: 100%;
	background-color: rgb(210, 220, 0);
	float: right;
	margin: 0 0 0 5px;
	display: flex;
	flex-direction: column;
}
header button{
	height: 40px;
	width: 40px;
	outline: none;
	margin: 5px -5px 5px 5px;
	float: left;
	outline: none;
	
}

header button img{
	height: 100%;
	outline: none;
}

.button-input-group {
    display: flex; /* 水平方向に要素を配置 */
}

.button-input {
	width: 130px;
	height: 40px;
	margin: 5px -5px 5px 10px;
	padding-left: 5px;
	float: left;
	border: 2px solid #ccc; /* 枠線 */
	border-radius: 4px; /* 角の丸み */
	outline: none;
}


.items {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 10px;
}

.editor {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
  	-ms-writing-mode: vertical-rl;
	font-size: 20px;
	font-family: "Noto Serif JP", serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-feature-settings: "palt";
  	font-feature-settings: "palt";
  	color: #2c3e50;
  	line-height: 1.2em;
  	display: flex;
	
}
.character {	
  	text-indent: 0em;
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
  	/*outline: none;*/

	background-color: white;
	width: 99.5%;
	height: 120px;
	min-width: 24px;
}
.divideline {
	background-color: darkgray;
	width: 100%;
	height: 2px;
}


.scenario {

  	text-indent: 0em;
  	margin-top: 1em;
  	/*outline: none;*/

	background-color: white;
	width: 99.5%;
	height: 34.5vw;/*私の環境だと520px*/
}




/*
文字を上に詰めたい時は左詰め
文字を下に詰めたい時は右詰め
になるっていう、感覚との名称差えぐ。縦書きやばい。

同様に十字キーを押した時に、横書き基準で動くせいで、
コントローラー逆持ちドッキリみたいになる。

*/

